<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="InnoStockPortal.Data"
        type="InnoStockPortal.Data.Bases.NetTiersServiceSection, InnoStockPortal.Data"
        allowDefinition="MachineToApplication"
        restartOnExternalChanges="true" />
    <section name="RTStockData.Data"
    type="RTStockData.Data.Bases.NetTiersServiceSection, RTStockData.Data"
    allowDefinition="MachineToApplication"
    restartOnExternalChanges="true" />
  </configSections>
  <connectionStrings>
    <add name="InnoStockConnectionString" connectionString="Data Source=172.16.68.6;Initial Catalog=InnoStockPortal;User ID=sa;Password=etrade123456" />
    <add name="RTStockDataConnectionString" connectionString="Data Source=172.16.68.6;Initial Catalog=RTStockData;User ID=sa;Password=etrade123456" />
  </connectionStrings>
  <InnoStockPortal.Data defaultProvider="SqlNetTiersProvider">
    <providers>

      <add
    name="SqlNetTiersProvider"
    type="InnoStockPortal.Data.SqlClient.SqlNetTiersProvider, InnoStockPortal.Data.SqlClient"
    connectionStringName="InnoStockConnectionString"
    providerInvariantName="System.Data.SqlClient"
    entityFactoryType="InnoStockPortal.Entities.EntityFactory"
    useEntityFactory="true"
    enableEntityTracking="false"
    enableMethodAuthorization="false"
    useStoredProcedure="false"
  />

    </providers>
  </InnoStockPortal.Data>
  <RTStockData.Data defaultProvider="SqlNetTiersProvider">
    <providers>

      <add
    name="SqlNetTiersProvider"
    type="RTStockData.Data.SqlClient.SqlNetTiersProvider, RTStockData.Data.SqlClient"
    connectionStringName="RTStockDataConnectionString"
    providerInvariantName="System.Data.SqlClient"
    entityFactoryType="RTStockData.Entities.EntityFactory"
    useEntityFactory="true"
    enableEntityTracking="false"
    enableMethodAuthorization="false"
    useStoredProcedure="false"
  />

    </providers>
  </RTStockData.Data>

  
</configuration>