<?xml version="1.0" encoding="utf-8"?>
<NetTiersMap xmlns="http://www.nettiers.com/NetTiersMap.xsd">
	<Table Id="BrokerAccount" EntityName="BrokerAccount" Owner="dbo" PropertyName="BrokerAccount" FieldName="_brokerAccount" FriendlyName="Broker Account" IncludeInOutput="true">
		<Column Id="BrokerID" CSType="System.String" PropertyName="BrokerId" FieldName="_brokerId" FriendlyName="Broker Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="Password" CSType="System.String" PropertyName="Password" FieldName="_password" FriendlyName="Password" IncludeInOutput="true" />
		<Column Id="AccountType" CSType="System.Int16?" PropertyName="AccountType" FieldName="_accountType" FriendlyName="Account Type" IncludeInOutput="true" />
		<Column Id="Actived" CSType="System.Boolean?" PropertyName="Actived" FieldName="_actived" FriendlyName="Actived" IncludeInOutput="true" />
		<Column Id="MobilePhone" CSType="System.String" PropertyName="MobilePhone" FieldName="_mobilePhone" FriendlyName="Mobile Phone" IncludeInOutput="true" />
		<Column Id="EmailAddr" CSType="System.String" PropertyName="EmailAddr" FieldName="_emailAddr" FriendlyName="Email Addr" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="CreatedUser" CSType="System.String" PropertyName="CreatedUser" FieldName="_createdUser" FriendlyName="Created User" IncludeInOutput="true" />
		<Column Id="UpdatedDate" CSType="System.DateTime?" PropertyName="UpdatedDate" FieldName="_updatedDate" FriendlyName="Updated Date" IncludeInOutput="true" />
		<Column Id="UpdatedUser" CSType="System.String" PropertyName="UpdatedUser" FieldName="_updatedUser" FriendlyName="Updated User" IncludeInOutput="true" />
		<ChildCollection Id="MainCustAccountCollection" PropertyName="MainCustAccountCollection" FieldName="_mainCustAccountBrokerId" FriendlyName="MainCustAccountCollection" CSType="TList&lt;MainCustAccount&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_MainCustAccount_BrokerAccount" IncludeInOutput="true"/>
	</Table>
	<Table Id="BrokerAMPermission" EntityName="BrokerAmPermission" Owner="dbo" PropertyName="BrokerAmPermission" FieldName="_brokerAmPermission" FriendlyName="Broker Am Permission" IncludeInOutput="true">
		<Column Id="PermissionID" CSType="System.Int32" PropertyName="PermissionId" FieldName="_permissionId" FriendlyName="Permission Id" IncludeInOutput="true" />
		<Column Id="PermissionName" CSType="System.String" PropertyName="PermissionName" FieldName="_permissionName" FriendlyName="Permission Name" IncludeInOutput="true" />
	</Table>
	<Table Id="ChangedPassHistory" EntityName="ChangedPassHistory" Owner="dbo" PropertyName="ChangedPassHistory" FieldName="_changedPassHistory" FriendlyName="Changed Pass History" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="BrokerID" CSType="System.String" PropertyName="BrokerId" FieldName="_brokerId" FriendlyName="Broker Id" IncludeInOutput="true" />
		<Column Id="BrokerName" CSType="System.String" PropertyName="BrokerName" FieldName="_brokerName" FriendlyName="Broker Name" IncludeInOutput="true" />
		<Column Id="MainAccountName" CSType="System.String" PropertyName="MainAccountName" FieldName="_mainAccountName" FriendlyName="Main Account Name" IncludeInOutput="true" />
		<Column Id="ChangedTime" CSType="System.DateTime?" PropertyName="ChangedTime" FieldName="_changedTime" FriendlyName="Changed Time" IncludeInOutput="true" />
		<Column Id="MainCustAccountID" CSType="System.String" PropertyName="MainCustAccountId" FieldName="_mainCustAccountId" FriendlyName="Main Cust Account Id" IncludeInOutput="true" />
		<Column Id="PINorPass" CSType="System.Boolean?" PropertyName="PiNorPass" FieldName="_piNorPass" FriendlyName="Pi Nor Pass" IncludeInOutput="true" />
	</Table>
	<Table Id="CustServicesPermission" EntityName="CustServicesPermission" Owner="dbo" PropertyName="CustServicesPermission" FieldName="_custServicesPermission" FriendlyName="Cust Services Permission" IncludeInOutput="true">
		<Column Id="CustServicesPermissionID" CSType="System.Int32" PropertyName="CustServicesPermissionId" FieldName="_custServicesPermissionId" FriendlyName="Cust Services Permission Id" IncludeInOutput="true" />
		<Column Id="PermissionName" CSType="System.String" PropertyName="PermissionName" FieldName="_permissionName" FriendlyName="Permission Name" IncludeInOutput="true" />
	</Table>
	<Table Id="MainCustAccount" EntityName="MainCustAccount" Owner="dbo" PropertyName="MainCustAccount" FieldName="_mainCustAccount" FriendlyName="Main Cust Account" IncludeInOutput="true">
		<Column Id="MainCustAccountID" CSType="System.String" PropertyName="MainCustAccountId" FieldName="_mainCustAccountId" FriendlyName="Main Cust Account Id" IncludeInOutput="true" />
		<Column Id="FullName" CSType="System.String" PropertyName="FullName" FieldName="_fullName" FriendlyName="Full Name" IncludeInOutput="true" />
		<Column Id="Email" CSType="System.String" PropertyName="Email" FieldName="_email" FriendlyName="Email" IncludeInOutput="true" />
		<Column Id="Phone" CSType="System.String" PropertyName="Phone" FieldName="_phone" FriendlyName="Phone" IncludeInOutput="true" />
		<Column Id="Actived" CSType="System.Boolean?" PropertyName="Actived" FieldName="_actived" FriendlyName="Actived" IncludeInOutput="true" />
		<Column Id="Password" CSType="System.String" PropertyName="Password" FieldName="_password" FriendlyName="Password" IncludeInOutput="true" />
		<Column Id="PIN" CSType="System.String" PropertyName="Pin" FieldName="_pin" FriendlyName="Pin" IncludeInOutput="true" />
		<Column Id="LockReason" CSType="System.String" PropertyName="LockReason" FieldName="_lockReason" FriendlyName="Lock Reason" IncludeInOutput="true" />
		<Column Id="TokenID" CSType="System.String" PropertyName="TokenId" FieldName="_tokenId" FriendlyName="Token Id" IncludeInOutput="true" />
		<Column Id="TokenActived" CSType="System.String" PropertyName="TokenActived" FieldName="_tokenActived" FriendlyName="Token Actived" IncludeInOutput="true" />
		<Column Id="BrokerID" CSType="System.String" PropertyName="BrokerId" FieldName="_brokerId" FriendlyName="Broker Id" IncludeInOutput="true" />
		<Column Id="PassIsNew" CSType="System.Boolean?" PropertyName="PassIsNew" FieldName="_passIsNew" FriendlyName="Pass Is New" IncludeInOutput="true" />
		<Column Id="PINIsNew" CSType="System.Boolean?" PropertyName="PinIsNew" FieldName="_pinIsNew" FriendlyName="Pin Is New" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="CreatedUser" CSType="System.String" PropertyName="CreatedUser" FieldName="_createdUser" FriendlyName="Created User" IncludeInOutput="true" />
		<Column Id="UpdatedUser" CSType="System.String" PropertyName="UpdatedUser" FieldName="_updatedUser" FriendlyName="Updated User" IncludeInOutput="true" />
		<Column Id="UpdatedDate" CSType="System.DateTime?" PropertyName="UpdatedDate" FieldName="_updatedDate" FriendlyName="Updated Date" IncludeInOutput="true" />
		<ChildCollection Id="SubCustAccountCollection" PropertyName="SubCustAccountCollection" FieldName="_subCustAccountMainCustAccountId" FriendlyName="SubCustAccountCollection" CSType="TList&lt;SubCustAccount&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_SubCustAccount_MainCustAccount" IncludeInOutput="true"/>
		<ChildCollection Id="ChangedPassHistoryCollection" PropertyName="ChangedPassHistoryCollection" FieldName="_changedPassHistoryMainCustAccountId" FriendlyName="ChangedPassHistoryCollection" CSType="TList&lt;ChangedPassHistory&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ChangedPassHistory_MainCustAccount" IncludeInOutput="true"/>
	</Table>
	<Table Id="OpenCustAccount" EntityName="OpenCustAccount" Owner="dbo" PropertyName="OpenCustAccount" FieldName="_openCustAccount" FriendlyName="Open Cust Account" IncludeInOutput="true">
		<Column Id="OpenID" CSType="System.String" PropertyName="OpenId" FieldName="_openId" FriendlyName="Open Id" IncludeInOutput="true" />
		<Column Id="RegisterDate" CSType="System.DateTime?" PropertyName="RegisterDate" FieldName="_registerDate" FriendlyName="Register Date" IncludeInOutput="true" />
		<Column Id="CardID" CSType="System.String" PropertyName="CardId" FieldName="_cardId" FriendlyName="Card Id" IncludeInOutput="true" />
		<Column Id="CardIssue" CSType="System.DateTime?" PropertyName="CardIssue" FieldName="_cardIssue" FriendlyName="Card Issue" IncludeInOutput="true" />
		<Column Id="PlaceIssue" CSType="System.String" PropertyName="PlaceIssue" FieldName="_placeIssue" FriendlyName="Place Issue" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="Birthday" CSType="System.DateTime?" PropertyName="Birthday" FieldName="_birthday" FriendlyName="Birthday" IncludeInOutput="true" />
		<Column Id="Sex" CSType="System.Boolean?" PropertyName="Sex" FieldName="_sex" FriendlyName="Sex" IncludeInOutput="true" />
		<Column Id="Occupation" CSType="System.String" PropertyName="Occupation" FieldName="_occupation" FriendlyName="Occupation" IncludeInOutput="true" />
		<Column Id="Nationality" CSType="System.String" PropertyName="Nationality" FieldName="_nationality" FriendlyName="Nationality" IncludeInOutput="true" />
		<Column Id="Adress1" CSType="System.String" PropertyName="Adress1" FieldName="_adress1" FriendlyName="Adress1" IncludeInOutput="true" />
		<Column Id="Telephone1" CSType="System.String" PropertyName="Telephone1" FieldName="_telephone1" FriendlyName="Telephone1" IncludeInOutput="true" />
		<Column Id="Fax1" CSType="System.String" PropertyName="Fax1" FieldName="_fax1" FriendlyName="Fax1" IncludeInOutput="true" />
		<Column Id="Adress2" CSType="System.String" PropertyName="Adress2" FieldName="_adress2" FriendlyName="Adress2" IncludeInOutput="true" />
		<Column Id="Telephone2" CSType="System.String" PropertyName="Telephone2" FieldName="_telephone2" FriendlyName="Telephone2" IncludeInOutput="true" />
		<Column Id="Fax2" CSType="System.String" PropertyName="Fax2" FieldName="_fax2" FriendlyName="Fax2" IncludeInOutput="true" />
		<Column Id="Adress3" CSType="System.String" PropertyName="Adress3" FieldName="_adress3" FriendlyName="Adress3" IncludeInOutput="true" />
		<Column Id="Telephone3" CSType="System.String" PropertyName="Telephone3" FieldName="_telephone3" FriendlyName="Telephone3" IncludeInOutput="true" />
		<Column Id="Fax3" CSType="System.String" PropertyName="Fax3" FieldName="_fax3" FriendlyName="Fax3" IncludeInOutput="true" />
		<Column Id="Email" CSType="System.String" PropertyName="Email" FieldName="_email" FriendlyName="Email" IncludeInOutput="true" />
		<Column Id="BranchCode" CSType="System.String" PropertyName="BranchCode" FieldName="_branchCode" FriendlyName="Branch Code" IncludeInOutput="true" />
		<Column Id="BranchName" CSType="System.String" PropertyName="BranchName" FieldName="_branchName" FriendlyName="Branch Name" IncludeInOutput="true" />
		<Column Id="Custodian" CSType="System.Boolean?" PropertyName="Custodian" FieldName="_custodian" FriendlyName="Custodian" IncludeInOutput="true" />
		<Column Id="CustomerType" CSType="System.String" PropertyName="CustomerType" FieldName="_customerType" FriendlyName="Customer Type" IncludeInOutput="true" />
		<Column Id="TradeAtCompany" CSType="System.Boolean?" PropertyName="TradeAtCompany" FieldName="_tradeAtCompany" FriendlyName="Trade At Company" IncludeInOutput="true" />
		<Column Id="TradeByTelephone" CSType="System.Boolean?" PropertyName="TradeByTelephone" FieldName="_tradeByTelephone" FriendlyName="Trade By Telephone" IncludeInOutput="true" />
		<Column Id="TradeOnline" CSType="System.Boolean?" PropertyName="TradeOnline" FieldName="_tradeOnline" FriendlyName="Trade Online" IncludeInOutput="true" />
		<Column Id="ExistedAccount" CSType="System.Boolean?" PropertyName="ExistedAccount" FieldName="_existedAccount" FriendlyName="Existed Account" IncludeInOutput="true" />
	</Table>
	<Table Id="Research" EntityName="Research" Owner="dbo" PropertyName="Research" FieldName="_research" FriendlyName="Research" IncludeInOutput="true">
		<Column Id="ResearchID" CSType="System.String" PropertyName="ResearchId" FieldName="_researchId" FriendlyName="Research Id" IncludeInOutput="true" />
		<Column Id="UploadedDate" CSType="System.DateTime?" PropertyName="UploadedDate" FieldName="_uploadedDate" FriendlyName="Uploaded Date" IncludeInOutput="true" />
		<Column Id="Tittle" CSType="System.String" PropertyName="Tittle" FieldName="_tittle" FriendlyName="Tittle" IncludeInOutput="true" />
		<Column Id="Path" CSType="System.String" PropertyName="Path" FieldName="_path" FriendlyName="Path" IncludeInOutput="true" />
		<Column Id="Downloads" CSType="System.Int16?" PropertyName="Downloads" FieldName="_downloads" FriendlyName="Downloads" IncludeInOutput="true" />
		<Column Id="Actived" CSType="System.Boolean?" PropertyName="Actived" FieldName="_actived" FriendlyName="Actived" IncludeInOutput="true" />
		<Column Id="UploadedUser" CSType="System.String" PropertyName="UploadedUser" FieldName="_uploadedUser" FriendlyName="Uploaded User" IncludeInOutput="true" />
	</Table>
	<Table Id="SubCustAccount" EntityName="SubCustAccount" Owner="dbo" PropertyName="SubCustAccount" FieldName="_subCustAccount" FriendlyName="Sub Cust Account" IncludeInOutput="true">
		<Column Id="SubCustAccountID" CSType="System.String" PropertyName="SubCustAccountId" FieldName="_subCustAccountId" FriendlyName="Sub Cust Account Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="Actived" CSType="System.Boolean?" PropertyName="Actived" FieldName="_actived" FriendlyName="Actived" IncludeInOutput="true" />
		<Column Id="LockAccountReason" CSType="System.Int16?" PropertyName="LockAccountReason" FieldName="_lockAccountReason" FriendlyName="Lock Account Reason" IncludeInOutput="true" />
		<Column Id="AuthType" CSType="System.Int16?" PropertyName="AuthType" FieldName="_authType" FriendlyName="Auth Type" IncludeInOutput="true" />
		<Column Id="AccountType" CSType="System.Boolean?" PropertyName="AccountType" FieldName="_accountType" FriendlyName="Account Type" IncludeInOutput="true" />
		<Column Id="MainCustAccountID" CSType="System.String" PropertyName="MainCustAccountId" FieldName="_mainCustAccountId" FriendlyName="Main Cust Account Id" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="CreatedUser" CSType="System.String" PropertyName="CreatedUser" FieldName="_createdUser" FriendlyName="Created User" IncludeInOutput="true" />
		<Column Id="UpdatedDate" CSType="System.DateTime?" PropertyName="UpdatedDate" FieldName="_updatedDate" FriendlyName="Updated Date" IncludeInOutput="true" />
		<Column Id="UpdatedUser" CSType="System.String" PropertyName="UpdatedUser" FieldName="_updatedUser" FriendlyName="Updated User" IncludeInOutput="true" />
	</Table>
</NetTiersMap>
