<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ETradeAutomation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </configSections>
  <appSettings>
    <!--Time out when connecting web address.-->
    <add key="Timeout" value="30000"/>
    <!--Address to get currency.-->
    <add key="CurrencyAddress" value="http://www.eximbank.com.vn/WebsiteExrate1/exchange_en.aspx"/>
    <!--Database configuration-->
    <add key="ConnectionString" value="Data Source=10.128.28.99;Initial Catalog=AccountManagerTest;User ID=sa; PassWord=etrade123456"/>
    <!--USD name.-->
    <add key="USDName" value="United State Dollar"/>
  </appSettings>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="entlib.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
    <applicationSettings>
        <ETradeAutomation.Properties.Settings>
            <setting name="ETradeAutomation_ETradeWebService_ETradeServicesWebServices"
                serializeAs="String">
                <value>http://172.16.68.7/ETradeServicesTest/ETradeServicesWebServices.asmx</value>
            </setting>
            <setting name="ETradeAutomation_RTWebService_Service" serializeAs="String">
                <value>http://172.16.68.9:81/RTServiceTest/Service.asmx</value>
            </setting>
            <setting name="ETradeAutomation_AMServices_AccountManagerServices"
                serializeAs="String">
                <value>http://10.128.28.88/AMServicesTest/AccountManagerServices.asmx</value>
            </setting>
        </ETradeAutomation.Properties.Settings>
    </applicationSettings>
</configuration>