<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ETradeCore.UnitTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
      <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
        <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
      </sectionGroup>
    </sectionGroup>
    <section name="ETradeOrders.DataAccess" type="ETradeOrders.DataAccess.Bases.NetTiersServiceSection, ETradeOrders.DataAccess" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    <section name="ETradeHistory.DataAccess" type="ETradeHistory.DataAccess.Bases.NetTiersServiceSection, ETradeHistory.DataAccess" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="ETradeFinance.DataAccess"
       type="ETradeFinance.DataAccess.Bases.NetTiersServiceSection, ETradeFinance.DataAccess"
       allowDefinition="MachineToApplication"
       restartOnExternalChanges="true" />
  </configSections>
  <appSettings>
    <!--TCSC FisDb-->
    <add key="FisDbConnectionString" value="Server=10.128.31.33:50001;Database=FISDB;UID=db2usr1;PWD=db2usr1;"/>
    <!--Local FisDb-->
    <!--<add key="FisDbConnectionString" value="Server=lamemmv-PC:50001;Database=FISDB;UID=db2usr1;PWD=db2usr1;"/>-->
    <add key="SbaConnectionString" value="Server=sbaserver; DataBase=ba_view; Host=172.16.1.30; User Id=informix; Password=sa; Protocol=onsoctcp; service=sba;"/>
    <add key="AliasInformix" value="BA_VIEW"/>

    <add key="preopen_duration" value="1740"/>
    <add key="preclose_duration" value="780"/>
    <add key="trading_duration" value="8940"/>

    <add key="enablePutATCbefore" value="false"/>

    <add key="orderSource" value="W"/>

    <!--0: FISDB
        1: SBA
        2: OTS_DB
        3: Other source-->
    <add key="OrderHistSource" value="1"/>

    <!--0: FISDB
        1: SBA
        2: OTS_DB
        3: Other source-->
    <add key="DealHistSource" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="ETradeOrdersConnectionString" connectionString="Data Source=172.16.1.30;Initial Catalog=ETradeOrders;User ID=sa;Password=123456"/>
    <add name="ETradeHistoryConnectionString" connectionString="Data Source=172.16.1.30;Initial Catalog=ETradeHistory;User ID=sa;Password=123456"/>
    <add name="ETradeFinanceConnectionString" connectionString="Data Source=172.16.1.30;Initial Catalog=EtradeFinance;User ID=sa;Password=123456" />
  </connectionStrings>
  <ETradeOrders.DataAccess defaultProvider="ETradeOrderSqlNetTiersProvider">
    <providers>
      <add name="ETradeOrderSqlNetTiersProvider" type="ETradeOrders.DataAccess.SqlClient.SqlNetTiersProvider, ETradeOrders.DataAccess.SqlClient" connectionStringName="ETradeOrdersConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="ETradeOrders.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="true"/>
    </providers>
  </ETradeOrders.DataAccess>
  <ETradeHistory.DataAccess defaultProvider="ETradeHistorySqlNetTiersProvider">
    <providers>
      <add name="ETradeHistorySqlNetTiersProvider" type="ETradeHistory.DataAccess.SqlClient.SqlNetTiersProvider, ETradeHistory.DataAccess.SqlClient" connectionStringName="ETradeHistoryConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="ETradeHistory.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="true"/>
    </providers>
  </ETradeHistory.DataAccess>
  <ETradeFinance.DataAccess defaultProvider="ETradeFinanceSqlNetTiersProvider">
    <providers>

      <add
        name="ETradeFinanceSqlNetTiersProvider"
        type="ETradeFinance.DataAccess.SqlClient.SqlNetTiersProvider, ETradeFinance.DataAccess.SqlClient"
        connectionStringName="ETradeFinanceConnectionString"
        providerInvariantName="System.Data.SqlClient"
        entityFactoryType="ETradeFinance.Entities.EntityFactory"
        useEntityFactory="true"
        enableEntityTracking="false"
        enableMethodAuthorization="false"
        useStoredProcedure="true"
      />

    </providers>
  </ETradeFinance.DataAccess>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="entlib.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <applicationSettings>
    <ETradeCore.UnitTests.Properties.Settings>
      <setting name="ETradeCore_UnitTests_AMServices_AccountManagerServices"
        serializeAs="String">
        <value>http://172.16.1.30:2010/AMServices/AccountManagerServices.asmx</value>
      </setting>
    </ETradeCore.UnitTests.Properties.Settings>
  </applicationSettings>
</configuration>