<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ListSymbol" value="ACC;ATA;AVF;BCC;BCE;AAA;ACB;ADC"/>
    <add key="BuyAcc" value="0088661"/>
    <add key="SellAcc" value="0068861"/>
    <add key="Duration" value="3000"/>
    <add key="EtradeOrdersTest" value="Data Source=.;Initial Catalog=EtradeOrdersTest;User Id=sa;Password=123456;"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="StockCoreServicesSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8807/StockCoreServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="StockCoreServicesSoap"
        contract="StockCoreService.StockCoreServicesSoap" name="StockCoreServicesSoap" />      
    </client>
  </system.serviceModel>
</configuration>