<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DataStockCoreEntities" connectionString="metadata=res://*/DataStockCore.csdl|res://*/DataStockCore.ssdl|res://*/DataStockCore.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HOANGVU-PC;Initial Catalog=DataStockCore;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
