<?xml version="1.0"?>
<configuration>
    <configSections>      
    </configSections>
  <appSettings>
    <add key="HoseMarketPort" value="11000"/>
    <add key="HNXMarketPort" value="11001"/>
    <add key="UpComMarketPort" value="11002"/>
    <add key="HoseStockInfoPort" value="11003"/>
    <add key="HNXStockInfoPort" value="11004"/>
    <add key="UpComStockInfoPort" value="11005"/>
    <add key="ServerPort" value="10013"/>
    <add key="ServerIP" value="192.168.1.16"/>
    <add key="MemberStockCompanyID" value="TCSC"/>
  </appSettings>
  <connectionStrings>
    <add name="RTStockDataTest" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=RTStockDataTest;User Id=sa;Password=123456;"/>
    <add name="EtradeOrdersTest" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EtradeOrdersTest;User Id=sa;Password=123456;"/>
    <add name="EtradeFinanceTest" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EtradeOrdersTest;User Id=sa;Password=123456;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="StockCoreServicesSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.16:8807/StockCoreServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="StockCoreServicesSoap"
        contract="StockCoreServices.StockCoreServicesSoap" name="StockCoreServicesSoap" />
    </client>
  </system.serviceModel>
</configuration>
