<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>      
    </configSections>
  <appSettings>
    <add key="ServerIP" value="192.168.99.104"/>
    <add key="HoseMarketPort" value="11000"/>
    <add key="HNXMarketPort" value="11001"/>
    <add key="UpComMarketPort" value="11002"/>
    <add key="HoseStockInfoPort" value="11003"/>
    <add key="HNXStockInfoPort" value="11004"/>
    <add key="UpComStockInfoPort" value="11005"/>
  </appSettings>
</configuration>