<?xml version="1.0"?>
<configuration>
    <configSections>      
    </configSections>
  <appSettings>
    <add key="ServerIP" value="192.168.99.104"/>
    <add key="HoseMarketPort" value="11000"/>
    <add key="HNXMarketPort" value="11001"/>
    <add key="UpComMarketPort" value="11002"/>
    <add key="HoseStockInfoPort" value="11003"/>
    <add key="HNXStockInfoPort" value="11004"/>
    <add key="UpComStockInfoPort" value="11005"/>
    <add key="ServerPort" value="10013"/>
    <add key="ServerIP" value="127.0.0.1"/>
    <add key="MemberStockCompanyID" value="TCSC"/>
  </appSettings>
  <connectionStrings>
    <add name="RTStockDataTest" connectionString="Data Source=.;Initial Catalog=RTStockDataTest;User Id=sa;Password=123456;"/>
    <add name="EtradeOrdersTest" connectionString="Data Source=.;Initial Catalog=EtradeOrdersTest;User Id=sa;Password=123456;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="StockCoreServicesSoap" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2694/StockCoreServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="StockCoreServicesSoap"
        contract="StockCoreServices.StockCoreServicesSoap" name="StockCoreServicesSoap" />
    </client>
  </system.serviceModel>
</configuration>
